.env
.venv
env
venv
requirements.in

.DS_Store
__pycache__
_spark_metadata

*.csv
!final_project/data/*/*.csv
*.pdf
*.zip

final_project/data/checkpoints
final_project/data/outputs
final_project/data/test_streaming_csv
